.about {
    .row {
        display: none;
        width: auto;
        margin: 60px 0 20px 0;
        justify-content: center;

        .about-me {
            flex-basis: 50%;

            h3 {
                color: var(--gray);
                font-size: 40px;
                text-transform: uppercase;
                font-weight: 900;
            }

            h1 {
                line-height: 40px;
                font-size: 50px;
                letter-spacing: -4px;
                text-transform: uppercase;
                color: var(--white);
                margin-bottom: 20px;

                span {
                    color: var(--primary);
                }
            }

            h4 {
                color: var(--white);
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 30px;
                letter-spacing: 5px;
            }

            p {
                width: 80%;
                margin-bottom: 30px;
                color: var(--white);
            }
        }

        .about-img {
            position: relative;

            .image-link {
                display: flex;
                // justify-content: space-around;
                justify-content: center;
                gap: 30px;

                span {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: var(--primary);
                    display: block;
                }

                img {
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    width: 40px;
                    height: 40px;
                }

                .git {
                    position: relative;
                }

                .linkedin {
                    position: relative;

                }

            }

            img {
                width: 370px;

            }
        }

        &.sec-dis {
            display: flex;
        }

    }

    .effects {
        span {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 220px;
            left: -20px;
            border-radius: 50%;
            background-color: var(--primary);
        }
    }

    @media screen and (max-width:905px) {
        .row {
            flex-direction: column-reverse;
            text-align: center;
            height: 100vh;
            margin: 0 40px;

            .about-me {
                margin: 0;
                margin-top: 20px;
                flex-basis: 100%;

                h1 {
                    line-height: 40px;
                }

                p {
                    width: 100%;

                }
            }

            .about-img {

                .image-link {

                    &.git {
                        left: 150px;
                        bottom: 0px;
                    }

                    &.linkedin {
                        top: 0px;
                        left: 0px;

                    }

                }

                img {
                    width: 200px;
                }


            }
        }

        .effects {
            span {

                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width:420px) {
        margin-top: 50px;

        .row {
            .about-me {
                h1 {
                    font-size: 40px;
                }

                h3 {
                    font-size: 30px;
                }

                .conbtn {
                    margin-block-end: 20px;
                }
            }
        }
    }
}