.about {
    .row {
        display: none;
        width: auto;
        margin: 60px 0 20px 150px;
        justify-content: center;

        .about-me {
            margin-top: 30px;
            flex-basis: 50%;

            h3 {
                color: var(--gray);
                font-size: 40px;
                text-transform: uppercase;
                font-weight: 900;
            }

            h1 {
                line-height: 20px;
                font-size: 50px;
                letter-spacing: -4px;
                text-transform: uppercase;
                color: var(--white);
                margin-bottom: 20px;

                span {
                    color: var(--primary);
                }
            }

            h4 {
                color: var(--white);
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 30px;
                letter-spacing: 5px;
            }

            p {
                width: 80%;
                margin-bottom: 30px;
                color: var(--white);
            }
        }

        .about-img {
            flex-basis: 50%;

            img {
                width: 370px;
                transform: translateY(50px);
            }
        }

        &.sec-dis {
            // display: flex;
        }

    }

    .effects {
        span {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 220px;
            left: -20px;
            border-radius: 50%;
            background-color: var(--primary);
        }

        // .linkedin {
        //     top: 220px;
        //     left: 55%;
        // }

        // .git {
        //     top: 300px;
        //     left: 51%;
        // }
    }

    @media screen and (max-width:1200px) {
        .row {
            margin-left: 80px;
        }
    }

    @media screen and (max-width:1060px) {
        .row {
            margin-left: 50px;
        }
    }

    @media screen and (max-width:905px) {
        .row {
            flex-direction: column-reverse;
            text-align: center;
            height: 100vh;
            margin: 0 40px;

            .about-me {
                margin: 0;
                margin-top: 50px;
                flex-basis: 100%;

                h1 {
                    line-height: 40px;
                }

                p {
                    width: 100%;

                }
            }

            .about-img {

                img {
                    width: 200px;
                }
            }
        }

        .effects {
            span {

                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width:420px) {
        .row {
            .about-me {
                h1 {
                    font-size: 40px;
                }

                h3 {
                    font-size: 30px;
                }
            }
        }
    }
}