.day {
    position: fixed;
    top: 200px;
    right: 10px;
    z-index: 10;
    border: none;
    background-color: transparent;
    animation: rotate 2s linear infinite;

    i {
        font-size: 30px;
        color: var(--white);
    }
}

.night {
    display: none;
    position: fixed;
    top: 200px;
    right: 10px;
    z-index: 10;
    border: none;
    background-color: transparent;
    animation: rotate 2s linear infinite;

    i {
        font-size: 30px;
        color: var(--white);
    }
}