@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '/src/scss/components/buttons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s;
}

body {
    height: 100vh;
    background-color: var(--black);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body.dark {
    transition: all 0.3s ease;
    --black: #fff;
    --white: #000;
    --gray: #333;
    --secondary: #8BFBFF;
    --primary: #FB38C8;
    --third: #FF602A;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.section {
    display: flex;
    width: auto;
    flex-direction: column;
    margin: 0px 100px;
    align-items: center;
    justify-content: center;

    .section-title {
        text-transform: uppercase;
        font-size: 50px;
        color: var(--white);
    }

    .section-desc {
        text-align: center;
        color: var(--white);

        a {
            color: var(--primary);
        }
    }

}

.sec-dis {
    display: flex;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:905px) {
    body {
        height: 120vh;
    }

    .section {

        .section-title {
            font-size: 40px;
        }

        .section-desc {
            width: 300px;
        }

    }
}


@media screen and (max-width:905px) {
    .contact-form input {
        width: 300px;
    }

    .contact-form textarea {
        width: 300px;
    }

}